<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
	<form class="mainBox" action="#" th:object="${personForm}"
		method="post">
		<header>Personal data form</header>
		<fieldset class="info">Some really useful information right
			here.</fieldset>
		<fieldset>
			<section>
				<div class="inline-group">
					<label
						th:class="${#fields.hasErrors('gender')}? 'radio state-error' : 'radio'"><input
						type="radio" name="gender" value="male" checked="checked"
						th:field="*{gender}" /><i></i>Mr.</label> <label
						th:class="${#fields.hasErrors('gender')}? 'radio state-error' : 'radio'"><input
						type="radio" value="female" name="gender" th:field="*{gender}" /><i></i>Ms.</label>
				</div>
				<div class="note note-error"
					th:each="err : ${#fields.errors('gender')}" th:text="${err}"></div>
			</section>

			<div class="row">
				<section class="col col-6">
					<label
						th:class="${#fields.hasErrors('firstName')}? 'input state-error' : 'input'">
						<i class="icon-prepend icon-user"></i> <input type="text"
						placeholder="First name" th:field="*{firstName}" /> <b
						class="tooltip tooltip-top-left">Required</b>
					</label>
					<div class="note note-error"
						th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></div>
				</section>
				<section class="col col-6">
					<label
						th:class="${#fields.hasErrors('surname')}? 'input state-error' : 'input'">
						<i class="icon-prepend icon-user"></i> <input type="text"
						name="surname" th:field="*{surname}" placeholder="Last name" /> <b
						class="tooltip tooltip-top-left">Required</b>
					</label>
					<div class="note note-error"
						th:each="err : ${#fields.errors('surname')}" th:text="${err}"></div>
				</section>
			</div>

			<div class="row">
				<section class="col col-6">
					<label class="input"> <i
						class="icon-prepend icon-certificate"></i> <input type="text"
						placeholder="Degree" th:field="*{degree}" /> <b
						class="tooltip tooltip-top-left">Optional</b>
					</label>
				</section>
				<section class="col col-6">
					<label
						th:class="${#fields.hasErrors('email')}? 'input state-error' : 'input'">
						<i class="icon-prepend icon-envelope-alt"></i> <input type="email"
						placeholder="E-mail" th:field="*{email}" /> <b
						class="tooltip tooltip-top-left">Required</b>
					</label>
					<div class="note note-error"
						th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
				</section>
			</div>
		</fieldset>
		<fieldset>
			<section>
				<label
					th:class="${#fields.hasErrors('university')}? 'input state-error' : 'input'">
					<i class="icon-prepend icon-briefcase"></i> <input type="text"
					placeholder="University / Institution / Company"
					th:field="*{university}" /> <b class="tooltip tooltip-top-left">Required</b>
				</label>
				<div class="note note-error"
					th:each="err : ${#fields.errors('university')}" th:text="${err}"></div>
			</section>
			<section>
				<label class="input"> <input type="text"
					placeholder="Department" th:field="*{division}" /> <b
					class="tooltip tooltip-top-left">Optional</b>
				</label>
			</section>
			<div class="row">
				<section class="col col-6">
					<label
						th:class="${#fields.hasErrors('country')}? 'select state-error' : 'select'">
						<select th:field="*{country}">
							<option value="1">Czech republic</option>
							<option value="2">Ahoj</option>
							<option value="3">Zdar</option>
					</select> <i></i>
					</label>
					<div class="note note-error"
						th:each="err : ${#fields.errors('country')}" th:text="${err}"></div>
				</section>
				<section class="col col-6">
					<label
						th:class="${#fields.hasErrors('city')}? 'input state-error' : 'input'">
						<input type="text" name="city" th:field="*{city}"
						placeholder="City" /> <b class="tooltip tooltip-top-left">Required</b>
					</label>
					<div class="note note-error"
						th:each="err : ${#fields.errors('city')}" th:text="${err}"></div>
				</section>
			</div>
			<div class="row">
				<section class="col col-6">
					<label
						th:class="${#fields.hasErrors('street')}? 'input state-error' : 'input'">
						<input type="text" placeholder="Street" th:field="*{street}" /> <b
						class="tooltip tooltip-top-left">Required</b>
					</label>
					<div class="note note-error"
						th:each="err : ${#fields.errors('street')}" th:text="${err}"></div>
				</section>
				<section class="col col-6">
					<label
						th:class="${#fields.hasErrors('zip')}? 'input state-error' : 'input'">
						<input type="text" name="zip" th:field="*{zip}"
						placeholder="Post code" /> <b class="tooltip tooltip-top-left">Required</b>
					</label>
					<div class="note note-error"
						th:each="err : ${#fields.errors('zip')}" th:text="${err}"></div>
				</section>
			</div>
		</fieldset>
		<!-- 
		<fieldset class="info">
			 Another really useful information right here.
		</fieldset>
		 -->
		<footer>
			<input class="button" type="submit" value="Submit" />
		</footer>

	</form>
</body>
</html>

