<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>Concrea administrator</title>
<link rel="stylesheet" href="../css/adminstyles.css" />

<link rel='stylesheet prefetch'
	href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900' />
</head>
<body>
	<ul>
		<li><a href="/admin/conferences">Conferences</a></li>
		<li><a href="/admin/legacyconfs">Legacy</a></li>
		<li><a href="/admin/newconf">Create conference</a></li>
		<li><a class="active" href="/admin/deleteconf">Delete conference</a></li>
		<li><a href="">Administrators</a></li>
	</ul>




	<div class="content">

		<form action="" method="post">
			<div class="innercontent">



				<div class="module form-module bigform">
					<h2>Delete conference</h2>
					<h2 th:if="${passerror}" class="error">Wrong password</h2>
					<h2 th:if="${delsuccess}" class="success">Conference deleted</h2>
					<div class="infotable">
            <div class="inforow">
							<select th:field="${delForm.conferenceId}">
								<option th:each="conf,it : ${conferences}" th:value="${conf.id}" th:text="${conf.codeName}">conf</option>
							</select>
						</div>      
						<div class="inforow">
							<input th:field="${delForm.password}" type="password" placeholder="Special password" />
						</div>
					</div>
					<input type="submit" class="button2" value="Delete" />
					<div style="margin-bottom: 100px;"></div>
				</div>

			</div>

		</form>
	</div>

</body>
</html>