<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>Concrea administrator</title>
<link rel="stylesheet" href="../css/adminstyles.css" />

<link rel='stylesheet prefetch'
	href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900' />
</head>
<body>
	<ul>
		<li><a href="/admin/conferences">Conferences</a></li>
		<li><a href="/admin/legacyconfs">Legacy</a></li>
		<li><a class="active" href="/admin/newconf">Create conference</a></li>
		<li><a href="/admin/deleteconf">Delete conference</a></li>
		<li><a href="">Administrators</a></li>
	</ul>




	<div class="content">

		<form action="/admin/newconf" method="post">
			<div class="innercontent">



				<div class="module form-module bigform">
					<h2>New conference</h2>
					<h2 th:if="${createerror}" class="error">Error during creation</h2>
					<div class="infotable">
						<div class="inforow">
							<input th:field="${newConf.name}" type="text" placeholder="Conference name" />
						</div>
						<div class="inforow">
							<input th:field="${newConf.codeName}" type="text" placeholder="Conference code" />
						</div>
						<div class="inforow">
							<input th:field="${newConf.confDate}" type="date" />
						</div>
						<div class="inforow">
							<select th:field="${newConf.confType}">
								<option th:each="type,it : ${conftypes}" th:value="${type.name()}" th:text="${type.name()}" >Normal</option>
							</select>
						</div>
					</div>
					<input type="submit" class="button2" value="Create" />
					<div style="margin-bottom: 100px;"></div>
				</div>

			</div>

		</form>
	</div>

</body>
</html>